:root {--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;}



.logo {font-family: 'Raleway', sans-serif;}
body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);}

.bcg-color {width: flex;
    height: 600px;
    left: 0px;
    top: 80px;
background: #2F303A;}

/*---------HEDER--------*/
.background {height: 600px;
    left: 0px;
    top: 80px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.header {display: flex;
    flex-direction:row;
    background: #FFFFFF;}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
text-decoration: none;}

.logo-web {color: var(--accent-color);}

.nav-list {list-style: none;} 
.nav-list a {text-decoration: none;
        font-weight: 500;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        color: var(--title-text-color);}
.nav-list a:hover, .nav-list a:focus {color: var(--accent-color);}
.nav-list a.current {color: var(--accent-color);}

.kont-list a {text-decoration: none;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)}
.kont-list a:hover, .kont-list a:focus {color: var(--accent-color);}

.kont-list {list-style: none;}

section ul {list-style: none;}

.hero {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.button {font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1,875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--accent-color);
    color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
cursor: pointer;}

.our-qualities h3 {font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: var(--title-text-color);}

.our-qualities p {line-height: 1.7142;}

.what-we-do img {}

.our-specifity {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);}

.team-section  {background: #F5F4FA;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.our-team {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);}

.team-section div {}

.team-section h3 {font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--title-text-color);}

.team-section p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;}

.filter-desktop {}

.buttons-portfolio button {cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;}

.buttons-portfolio button:hover,
.buttons-portfolio button:focus {
            background-color: var(--accent-color);
            color: #FFFFFF;}

.projects-portfolio p {font-size: 16px;
color: var(--primary-text-color);}

.projects-portfolio h3 {font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);}

.footer {background-color: #2F303A;}
.logo-footer {color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
text-decoration: none;
font-weight: 700;
    font-size: 26px;
    line-height: 1.19;}
.address {
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;}

.google-adress {text-decoration: none;
color: #FFFFFF;}
.google-adress:hover, .google-adress:focus {color: var(--accent-color);}

.address-list-mail {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-mail:hover {color: var(--accent-color);}

.ul-address {list-style: none;}

.address-list-tel {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-tel:hover {color: var(--accent-color);}