.logo {font-family: 'Raleway', sans-serif;}
body {font-family: 'Roboto', sans-serif;}
.bcg-color {width: flex;
    height: 600px;
    left: 0px;
    top: 80px;
background: #2F303A;}

/*---------HEDER--------*/
.background {height: 600px;
    left: 0px;
    top: 80px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.header {display: flex;
flex-direction:row;
position: absolute;
    width: 1800px;;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;}

.logo {position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;color: #000000;
text-decoration: none;}

.logo-web {color: #2196F3;}
.nav-list {list-style: none;} 
.nav-list a {text-decoration: none;}

.nav-list-studio {position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}
.nav-list-studio:hover, .nav-list-studio:focus {color: #2196F3;};


.nav-list-portfolio {position: absolute;
    width: 72px;
    height: 16px;
    left: 548px; 
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}
.nav-list-portfolio:hover, .nav-list-portfolio:focus {color: #2196F3;
}

.nav-list-contacts {position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}
.nav-list-contacts:hover, .nav-list-contacts:focus {color: #2196F3;
}

.kont-list-mail {position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}
.kont-list-mail:hover, .kont-list-mail:focus {color: #2196F3;
}
.kont-list-mail {text-decoration: none;}

.kont-list-tel {position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;}
.kont-list-tel:hover, .kont-list-tel:focus {color: #2196F3;
}
.kont-list-tel {text-decoration: none;}

.hero {position: absolute;
    width: 696px;
    height: 120px;
    left: 470px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;}

.button {font: inherit;
    background-color: #2196F3; 
    color: #FFFFFF;
position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 360px;}

.h3-uv-do-det {}

.p-uv-do-det {}

.h3-punktual {}

.p-punktual {}

.h3-planing {}

.p-planing {}

.h3-modern-tech {}

.p-modern-tech {}

.our-specifity {}

.img-typing-code {}

.img-design-phone {}

.img-design-color {}

.our-team {}

.img-ig-de {}

.ig-de {}

.p-ig-de {}

.img-ol-re {}

.ol-re {}

.p-ol-re {}

.img-my-ta {}

.my-ta {}

.p-my-ta {}

.img-my-je {}

.my-je {}

.p-my-je {}

.address {}




.logo {}

.nav-list-studio {}

.nav-list-portfolio {}

.nav-list-contacts {}

.kont-list-mail {}

.kont-list-tel {}

.butn-all {}

.butn-sites {}

.butn-apps {}

.butn-design {}

.butn-market {}

.img-techkrjak {}

.h3-techkrjak {}

.p-techkrjak {}

.img-new-orlean {}

.h3-new-orlean {}

.p-new-orlean {}

.img-seafood {}

.h3-seafood {}

.p-seafood {}

.img-prime {}

.h3-prime {}

.p-prime {}

.img-boxes {}

.h3-boxes {}

.p-boxes {}

.img-inspiration {}

.h3-inspiration {}

.p-inspiration {}

.img-lim-ed {}

.h3-lim-ed {}

.p-lim-ed {}

.img-lab-pj {}

.h3-lab-pj {}

.p-lab-pj {}

.img-grow-business {}

.h3-grow-business {}

.p-grow-business {}

.address {}