:root {--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;}

h1,h2,h3,h4,h5,h6,p,ul {margin: 0;}
ul {padding: 0;}

.logo {font-family: 'Raleway', sans-serif;}
body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }

.body-container {
    width: 1200px;
    padding: 0 15px; 
margin-left: auto;
margin-right: auto;}


/*---------HEDER--------*/
.background {height: 600px;
    left: 0px;
    top: 80px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.header {
    background: #FFFFFF;
    display: flex;
    align-items: center;}


.nav-list {display: flex;}
.nav-list .item:not(:last-child) {margin-right: 50px;}
.nav-list .link {display: block;
padding: 32px 0px;
position: relative;}
.nav-list .link::after {
    content: "";
    position: absolute;
    display: block;
    width: calc(106%);
    height: 4px;
    background-color: var(--accent-color);
    left: calc(0% - 3%);
    bottom: 0;
    border-radius: 2px;
    opacity: 0;}
.nav-list .link.current::after{opacity:1;}
.border-nav {border-bottom: 1px solid #ECECEC;}


.kont-list {display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;}
.kont-list .kont-item + .kont-item {margin-left: 50px;}



.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
text-decoration: none;
margin-right: 93px;}

.logo-web {color: var(--accent-color);}

.nav-list {list-style: none;} 
.nav-list a {text-decoration: none;
        font-weight: 500;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
    transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.nav-list a:hover, .nav-list a:focus {color: var(--accent-color);}
.nav-list a.current {color: var(--accent-color);}

.kont-list a {display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.kont-list a:hover, .kont-list a:focus {color: var(--accent-color);}
.kont-list a:hover .kont-icon {fill: var(--accent-color);}
section ul {list-style: none;}

.primary-section {padding: 200px 0 200px 0;}

.overlay {max-width: 1600px;
    max-height: 600px;
margin: 0 auto 0 auto;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(46, 47, 57, 0.4)), url(../images/hero-background.jpg);
    border-bottom: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

    .primary-section h1 {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 30px auto;}


.button {display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 4px;
cursor: pointer;
margin: 0 auto 0 auto;}


.button {padding: 10px 32px;
min-width: 216px;
text-align: center;}

.our-qualities {padding-bottom: 94px;
    padding-top: 94px;}
.our-qualities .qualities {display: flex;
    gap: 30px;}

.qualities li {width: 270px; height: 248px;}

.qual-item-1::before {content: "";
    height: 120px;
display: block;
background: #F5F4FA;
    border-radius: 4px;
margin-bottom: 30px;
background-image: url(../images/antena.svg);
background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;}

.qual-item-2::before {content: "";
    height: 120px;
display: block;
background: #F5F4FA;
    border-radius: 4px;
margin-bottom: 30px;
background-image: url(../images/clock.svg);
background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;}

.qual-item-3::before {content: "";
    height: 120px;
display: block;
background: #F5F4FA;
    border-radius: 4px;
margin-bottom: 30px;
background-image: url(../images/grafic.svg);
background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;}

.qual-item-4::before {content: "";
    height: 120px;
display: block;
background: #F5F4FA;
    border-radius: 4px;
margin-bottom: 30px;
background-image: url(../images/astronaut.svg);
background-repeat: no-repeat;
background-size: 70px;
background-position: center;}

.our-qualities h3 {font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: var(--title-text-color);
margin-bottom: 10px;}

.our-qualities p {line-height: 1.7142;}

.our-specifity {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;}


.what-we-do {padding-bottom: 94px;}
.w-w-d-item {display:block; position: relative; }
.what-we-do .w-w-d-list {display: flex;
justify-content: space-between;
height: 294px;}
.w-w-d-pozition p{font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: #FFFFFF;}

.w-w-d-pozition {display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
height: 70px;
position: absolute;
bottom: 0;
background: rgba(47, 48, 58, 0.8);}


.our-team {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;}

.team-section  {background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;}

.team-section .team-list {display: flex;
justify-content: space-between;}
.team-list .team-list-item {background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}
.team-list h3 {margin: 0px auto 10px auto;}

.team-list img {display: block;}
.team-item {padding-bottom: 30px;
    padding-top: 30px;}

.team-section h3 {font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--title-text-color);}

.team-section p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
margin-bottom: 16px;}

.regular-customers {padding: 94px 0px;}
.regular-customers h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
margin-bottom: 50px;}

.main-contein-port {padding-top: 94px;
padding-bottom: 94px;}

.buttons-portfolio {display: flex;
justify-content: center;
margin-bottom: 50px;}

.buttons-portfolio button {cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    padding: 6px 22px;
transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.buttons-portfolio li:not(:first-child) {margin-left: 8px;}

.buttons-portfolio button:hover,
.buttons-portfolio button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}



.portfolio-items {display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;}
.portfolio-items li:hover {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.portfolio-items li {width: 370px;
margin-right: 30px;
margin-bottom: 30px;
transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.portfolio-items li:nth-child(3n) {margin-right: 0px;}
.portfolio-items li:nth-last-child(-n + 3) {margin-bottom: 0px;}
.portfolio-items img {display: block;}

.filter-item {
    border: 1px solid #EEEEEE;
border-top: 0px;
padding: 20px 24px;}

.portfolio-items {font-size: 16px;
color: var(--primary-text-color);}

.portfolio-items h3 {font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;}
.footer-pozition{display: inline-block;}

.body-container.footer-flex {display: flex;
    align-items: baseline;
gap: 70px;}

.logo-footer {display: inline-block;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
text-decoration: none;
font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
margin-bottom: 20px;}
.address {
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;
transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.address a {transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}


.google-adress {text-decoration: none;
color: #FFFFFF;}
.google-adress:hover, .google-adress:focus {color: var(--accent-color);}

.ul-address li:not(:last-child) {margin-bottom: 9px;}
.address-list-mail {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-mail:hover {color: var(--accent-color);}

.ul-address {list-style: none;}

.address-list-tel {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-tel:hover {color: var(--accent-color);}

.join p{margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: #FFFFFF;
}
.join {display: inline-block;}
.join-list {display: flex;
    gap: 10px;
list-style: none;}
.join-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
background-color: rgba(255, 255, 255, 0.1);
transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
    
.join-icon {fill: #FFFFFF;}
.join-link:hover,
.join-link:focus {background-color: var(--accent-color);}


/*____________SVG________________*/

.kont-icon {fill: var(--primary-text-color);}
.kont-icon {margin-right: 10px;}


/*___________________SOCIAL__LINKS_____________________*/

.social-list {display: flex;
justify-content: center;
gap: 10px;}

.social-link {width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.social-icon {fill: #AFB1B8;}

.social-link:hover, .social-link:focus {background-color: var(--accent-color);}
.social-link:hover .social-icon {fill: #FFFFFF;}
.social-link:focus .social-icon {fill: #FFFFFF;}

/*_________________OUR__QUALITIES__SVG___________________*/

/*__________OUR REGULAR CUSTOMERS___________*/
.reg-cast-list {display: flex;
justify-content: center;
gap: 30px;}



.reg-cast-link {display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition-property: border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.reg-cast-link:hover, .reg-cast-link:focus {border-color: var(--accent-color);
fill: var(--accent-color);}

.backdrop {position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
transition-property: opacity, visibility;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);;}
.backdrop.is-hidden {opacity: 0;
pointer-events: none;}

.modal {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
min-width: 528px;
min-height: 581px;
background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;}

.close {width: 30px;
height: 30px;
position: absolute;
top: 8px;
right:8px;
fill: #000000
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.close:hover {fill:var(--accent-color);}

.product-thumb {
position: relative;
overflow: hidden;}

.thumb-annimation:hover .technokriak {
    transform: translateY(0);
}
.technokriak {
position: absolute;
top: 0;
background-color: rgba(33, 150, 243, 0.9);
color: #FFFFFF;
padding: 63px 24px 90px;
font-weight: 400;
font-size: 18px;
line-height: 1.5555;
height: 100%;
transform: translateY(100%);
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.modal-heder {font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
margin-bottom: 12px;}

.mod-input {width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding-left: 42px;
outline: transparent;
transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.mod-input:focus {border: 1px solid var(--accent-color)}
.submit {display: block;
    margin: 30px auto -1px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    color: #fff;
    background: var(--accent-color);
    border-radius: 4px;
border: none;
transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.submit:hover, .submit:focus {box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background: #188CE8;}
.mod-icon {fill: #212121;
position: absolute;
left: 12px;
top: 11px;
transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.icon-positio {position: relative;
margin-top: 4px;
margin-bottom: 10px;}
.mod-input:focus + .mod-icon {fill: var(--accent-color);
border-color: #2196F3;}
.icon-positio-last {margin-bottom: 20px;
    margin-top: 4px;}

.user-text {width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 12px 16px;
resize: none;
transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.user-text:focus {border: 1px solid var(--accent-color)}
.accepting {opacity: 0;
position: absolute;}


.label-checked {display: flex;
    align-content: center;
    justify-content: center;}
.label-checked:hover {border: #000000;}
.icon-checked {display: inline-block;
    fill: transparent;
    width: 16px;
    height: 15px;
border: 2px solid #212121;
border-radius: 2px;
margin-right: 7px;}
.accepting:checked + label span.icon-checked {background-color: var(--accent-color);
fill: #FFFFFF;
border: none;}
.accepting:focus + label span.icon-checked {border-color: var(--accent-color);}

.footer-form {}
.footer-form p {font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
color: #FFFFFF;
margin-bottom: 20px;}
.footer-input {display: inline-block;
    padding: 15px 16px;
    width: 358px;
    color: #AFB1B8;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
background-color: transparent;
transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.footer-input::placeholder {
    color: rgba(255, 255, 255, 0.6);}
.foot-for-flex {display: flex;}
.foot-for-flex label {opacity: 0;
position: absolute;}
.foot-for-flex button {display: inline-flex;
padding: 8px 28px;
margin-left: 12px;
background-color: var(--accent-color);
color: #FFFFFF;
border-color: transparent;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}
.foot-for-flex button::after {content: "";
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
margin-left: 10px;
align-self: center;}
.foot-for-flex button:hover, .footer-form button:focus {background: #188CE8;
    box-shadow: 0px 4px 4px rgba(250, 248, 248, 0.15);}


