:root {--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;}

h1,h2,h3,h4,h5,h6,p,ul {margin: 0;}
ul {padding: 0;}

.logo {font-family: 'Raleway', sans-serif;}
body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
margin: 0;}

.body-container {
    width: 1200px;
    padding: 0 15px; 
margin-left: auto;
margin-right: auto;}


/*---------HEDER--------*/
.background {height: 600px;
    left: 0px;
    top: 80px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));}

.header {
    background: #FFFFFF;
    display: flex;
    align-items: center;}
.nav-list {display: flex;}
.nav-list .item:not(:last-child) {margin-right: 50px;}
.nav-list .link {display: block;
padding-top: 32px;
padding-bottom: 32px;}

.kont-list {display: flex;
    list-style: none;
    margin-left: auto;
}
.kont-list .kont-item + .kont-item {margin-left: 50px;}
.border-nav {border-bottom: 1px solid #ECECEC;}


.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
text-decoration: none;
margin-right: 93px;}

.logo-web {color: var(--accent-color);}

.nav-list {list-style: none;} 
.nav-list a {text-decoration: none;
        font-weight: 500;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        color: var(--title-text-color);}
.nav-list a:hover, .nav-list a:focus {color: var(--accent-color);}
.nav-list a.current {color: var(--accent-color);}

.kont-list a {text-decoration: none;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)}
.kont-list a:hover, .kont-list a:focus {color: var(--accent-color);}

section ul {list-style: none;}

.primary-section {
    height: 600px;
    background: #2F303A;
    padding: 200px 0 200px 0;
margin: 0 auto 0 auto;}
.primary-section h1 {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 30px auto;}


.button {display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 4px;
cursor: pointer;
margin: 0 auto 0 auto;}


.button {padding: 10px 32px;
min-width: 216px;
text-align: center;}

.our-qualities {padding-bottom: 94px;
    padding-top: 94px;}
.our-qualities .qualities {display: flex;
    justify-content:space-between;
}
.qual-item {width: 270px;}

.our-qualities h3 {font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: var(--title-text-color);
margin-bottom: 10px;}

.our-qualities p {line-height: 1.7142;}

.our-specifity {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;}

.what-we-do {padding-bottom: 94px;}
.w-w-d-item .img {display: block;}
.what-we-do .w-w-d-item {display: flex;
justify-content: space-between;
}

.our-team {
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;}

.team-section  {background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;}

.team-section .team-list {display: flex;
justify-content: space-between;}
.team-list li {background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}
.team-list h3 {margin: 0px auto 10px auto;}

.team-list img {display: block;}
.team-item {padding-bottom: 30px;
    padding-top: 30px;}

.team-section h3 {font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--title-text-color);}

.team-section p {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;}

.main-contein-port {padding-top: 94px;
padding-bottom: 94px;}

.buttons-portfolio {display: flex;
justify-content: center;
margin-bottom: 50px;}

.buttons-portfolio button {cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    padding: 6px 22px;}
.buttons-portfolio li:not(:first-child) {margin-left: 8px;}

.buttons-portfolio button:hover,
.buttons-portfolio button:focus {
            background-color: var(--accent-color);
            color: #FFFFFF;}



.portfolio-items {display: flex;
flex-wrap: wrap;
box-sizing: border-box;}
.portfolio-items li {width: 370px;
margin-right: 30px;
margin-bottom: 30px;}
.portfolio-items li:nth-child(3n) {margin-right: 0px;}
.portfolio-items li:nth-last-child(-n + 3) {margin-bottom: 0px;}
.portfolio-items img {display: block;}

.filter-item {
    border: 1px solid #EEEEEE;
border-top: 0px;
padding: 20px 24px;}

.portfolio-items p {font-size: 16px;
color: var(--primary-text-color);}

.portfolio-items h3 {font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;}

.footer-container {display: block;
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;}

.logo-footer {display: block;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
text-decoration: none;
font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
margin-bottom: 20px;}
.address {
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;}


.google-adress {text-decoration: none;
color: #FFFFFF;}
.google-adress:hover, .google-adress:focus {color: var(--accent-color);}

.ul-address li:not(:last-child) {margin-bottom: 9px;}
.address-list-mail {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-mail:hover {color: var(--accent-color);}

.ul-address {list-style: none;}

.address-list-tel {text-decoration: none;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);}

.address-list-tel:hover {color: var(--accent-color);}