.logo {font-family: 'Raleway', sans-serif;}
body {font-family: 'Roboto', sans-serif;}
.bcg-color {background-color: grey;}

.logo {}

.nav-list-studio {}

.nav-list-portfolio {}

.nav-list-contacts {}

.kont-list-mail {}

.kont-list-tel {}

.h1 {}

.button {}

.h3-uv-do-det {}

.p-uv-do-det {}

.h3-punktual {}

.p-punktual {}

.h3-planing {}

.p-planing {}

.h3-modern-tech {}

.p-modern-tech {}

.our-specifity {}

.img-typing-code {}

.img-design-phone {}

.img-design-color {}

.our-team {}

.img-ig-de {}

.ig-de {}

.p-ig-de {}

.img-ol-re {}

.ol-re {}

.p-ol-re {}

.img-my-ta {}

.my-ta {}

.p-my-ta {}

.img-my-je {}

.my-je {}

.p-my-je {}

.address {}




.logo {}

.nav-list-studio {}

.nav-list-portfolio {}

.nav-list-contacts {}

.kont-list-mail {}

.kont-list-tel {}

.butn-all {}

.butn-sites {}

.butn-apps {}

.butn-design {}

.butn-market {}

.img-techkrjak {}

.h3-techkrjak {}

.p-techkrjak {}

.img-new-orlean {}

.h3-new-orlean {}

.p-new-orlean {}

.img-seafood {}

.h3-seafood {}

.p-seafood {}

.img-prime {}

.h3-prime {}

.p-prime {}

.img-boxes {}

.h3-boxes {}

.p-boxes {}

.img-inspiration {}

.h3-inspiration {}

.p-inspiration {}

.img-lim-ed {}

.h3-lim-ed {}

.p-lim-ed {}

.img-lab-pj {}

.h3-lab-pj {}

.p-lab-pj {}

.img-grow-business {}

.h3-grow-business {}

.p-grow-business {}

.address {}