.social-networks {
    padding-bottom: 30px;
    padding-top: 30px;

&__list {
    display: flex;
    justify-content: center;
    gap: 10px;}
&__header {font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--title-text-color);
margin: 0px auto 10px auto;}

&__descript {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
margin-bottom: 16px;}

&__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    fill: #AFB1B8;
}

&__link:hover,
&__link:focus {
    background-color: var(--accent-color);
}

&__link:hover &__icon {
    fill: #FFFFFF;
}

&__link:focus &__icon {
    fill: #FFFFFF;
}}