.what-we-do {
    padding-bottom: 94px;
&__header {
        font-size: 36px;
        line-height: 1.1666;
        text-align: center;
        color: var(--title-text-color);
        margin-bottom: 50px;
    }

    &__item {
        display: block;
        position: relative;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        height: 294px;
    }

    &__description {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        height: 70px;
        position: absolute;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
    }}

