body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }

.body-container {
    width: 1200px;
    padding: 0 15px; 
margin-left: auto;
margin-right: auto;}

.logo {
    font-family: 'Raleway', sans-serif;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
}

.logo-web {
    color: var(--accent-color);
}