.header {display: flex;
    align-items: center;

&__logo {font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #000000;
        text-decoration: none;
        margin-right: 93px;
    }

       &__logo-web span {
        color: var(--accent-color);
    }}


.nav-list {display: flex;
&__item:not(:last-child) {
        margin-right: 50px;
}
    &__link::after {
        content: "";
        position: absolute;
        display: block;
        width: calc(106%);
        height: 4px;
        background-color: var(--accent-color);
        left: calc(0% - 3%);
        bottom: 0;
        border-radius: 2px;
        opacity: 0;
    }

    &__link {display: block;
        padding: 32px 0px;
        position: relative;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__link:hover,
&__link:focus {
    color: var(--accent-color);
}

        &__link--current {
            color: var(--accent-color);
        }
    
        &__link--current::after {
            opacity: 1;
            color: var(--accent-color);
        }}
        

.kont-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
&__item + &__item {
        margin-left: 50px;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.1428;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

    &__icon {
    fill: var(--primary-text-color);
    margin-right: 10px;}

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__link:hover &__icon {
        fill: var(--accent-color);
    }
&__link:focus &__icon {
    fill: var(--accent-color);
}}
        


