.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

&--is-hidden {
    opacity: 0;
    pointer-events: none;
}}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;

&__close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    fill: #000000; 
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__close:hover {
    fill: var(--accent-color);
}
&__heder {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
}

&__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__input:focus {
    border: 1px solid var(--accent-color)
}

&__submit {
    display: block;
    margin: 30px auto -1px auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    padding: 10px 52px;
    color: #fff;
    background: var(--accent-color);
    border-radius: 4px;
    border: none;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__submit:hover,
&__submit:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #188CE8;
}

&__icon {
    fill: #212121;
    position: absolute;
    left: 12px;
    top: 11px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__ic-pst {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

&__input:focus+&__icon {
    fill: var(--accent-color);
    border-color: #2196F3;
}

&__ic-pst-last {
    margin-bottom: 20px;
    margin-top: 4px;
}

&__user-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 12px 16px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__user-text:focus {
    border: 1px solid var(--accent-color)
}

&__accepting {
    opacity: 0;
    position: absolute;
}


&__label-checked {
    display: flex;
    align-content: center;
    justify-content: center;
}

&__label-checked:hover {
    border: #000000;
}

&__icon-checked {
    display: inline-block;
    fill: transparent;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
}

&__accepting:checked + label span &__icon-checked {
    background-color: var(--accent-color);
    fill: #FFFFFF;
    border: none;
}

&__accepting:focus+label span &__icon-checked {
    border-color: var(--accent-color);
}}