body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }
        

.body-container {
    width: 1200px;
    padding: 0 15px; 
margin-left: auto;
margin-right: auto;

&--footer-flex {
        display: flex;
        align-items: baseline;
        gap: 93px;
    }
&--header-flex {display: flex;
    align-items: center;
}
&--border {border-bottom: 1px solid #ECECEC;}
}
// @media screen and (max-width: 480px) {
//     .body-container, section,
//         ul {width: 480px;
//     display: flex;
// flex-wrap: wrap;
// flex-basis: content;}
// section,
// ul {width: 100%;}   
// }
.button {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 0 auto;
& {
        padding: 10px 32px;
        min-width: 200px;
        text-align: center;
    }}



