body {font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin: 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto; }
        

.body-container {
    width: 100%;
    padding: 0 15px; 
    margin: 0 auto;

@media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }

&--footer-flex {
    @include mobile {display: flex;
    flex-direction: column;
justify-content: center;
gap: 60px;}
        @include tablet {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: baseline;
                gap: 60px;
            }
        
            @include desktop {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                gap: 93px;
            }
    }
&--header-flex {display: flex;
    align-items: center;
}
&--border {border-bottom: 1px solid #ECECEC;}
}

.button {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border: none;
    background-color: var(--accent-color);
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto 0 auto;
& {
        padding: 10px 32px;
        min-width: 200px;
        text-align: center;
    }}

section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}



